<div class="page-wrapper">
    <div class="section light-color-gradient wf-section">
        <div class="container">
            <div class="w-layout-grid hero-grid">
                <div id="w-node-accfd924-78f6-ecf1-4abb-37edf78b5e65-a01abdb9" class="text-box _500px">
                    <h1 class="heading h1"><span class="text-span-2">Simple</span> Inventory Management Software</h1>
                    <p class="paragraph large"><span class="text-span">The best inventory software for small businesses
                            to manage inventory.</span></p>
                    <div class="spacer _16"></div>
                    <a href="/signup" class="button w-button">Get Access Now</a>
                </div><img src="images/ArrowRight.svg" alt="arrow" width="300"
                    id="w-node-_2c511369-eabb-a0ff-6024-6e8ecffbdf82-a01abdb9" class="hero-illustration">
            </div>
        </div>
    </div>
    <div class="section w-clearfix wf-section">
        <div class="container">
            <div class="section-top">
                <a href="resources.html" class="button light mobile-hidden w-button">See All Resources</a>
                <h2 class="heading h3"><span class="text-span-3">Organize and automate your inventory at the touch of a
                        button.</span></h2>
            </div>
        </div>
        <p class="paragraph-2">Easily upload your existing inventory to IMS.<br><br>Organize inventory folders by
            location, type and more.<br><br>Automate your inventory.</p><img
            src="images/Screenshot-2023-03-27-at-10.53.14-PM.png" loading="lazy" width="460"
            sizes="(max-width: 479px) 100vw, 460px"
            srcset="images/Screenshot-2023-03-27-at-10.53.14-PM-p-500.png 500w, images/Screenshot-2023-03-27-at-10.53.14-PM.png 518w"
            alt="" class="image-2">
    </div>
    <div class="section black-gradient wf-section">
        <div class="container w-container">
            <div class="text-box _550px center-align">
                <h2 class="heading h2">Get to know us more!</h2>
                <p class="paragraph large">Get the latest news and updates from us. Straight to your inbox.</p>
                <div class="spacer _16"></div>
                <div class="email-form center-align w-form">
                    <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form"
                        method="get" class="email-form">
                        <div class="email-subscribe"><input type="email" class="text-field no-margin w-input"
                                maxlength="256" name="Email-2" data-name="Email 2" placeholder="Enter your email"
                                id="Email-2" required=""><input type="submit" value="Subscribe"
                                data-wait="Please wait..." class="button dark w-button"></div>
                    </form>
                    <div class="form-success dark w-form-done">
                        <div>You&#x27;re all signed up.</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>