.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-users-userformpagewrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userloginformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-userformbutton {
  width: 100%;
  text-align: center;
}

.w-users-userformfooter {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.w-users-userformerrorstate {
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
  margin-left: 20px;
  margin-right: 20px;
}

.w-users-userresetpasswordformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-users-usersignupformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userupdatepasswordformwrapper {
  position: relative;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.w-users-useraccountwrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f5f5f5;
}

.w-users-blockcontent {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e6e6e6;
  background-color: #fff;
}

.w-users-blockheader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #e6e6e6;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #e6e6e6;
  background-color: #fff;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  background-color: #d3d3d3;
  color: #333;
}

body {
  background-color: #fff;
  font-family: Inter, sans-serif;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 45px;
  line-height: 1.25em;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 34px;
  line-height: 1.2em;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 26px;
  line-height: 1.4em;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 12px;
  color: #33383f;
  font-size: 22px;
  line-height: 1.4em;
  font-weight: 600;
}

h5 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #99a4af;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  margin-bottom: 16px;
  opacity: 0.9;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

a {
  transition: color 200ms ease;
  color: #626a72;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
  opacity: 0.9;
  font-size: 18px;
  line-height: 1.4em;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 6px;
  color: #626a72;
  font-size: 15px;
  font-weight: 400;
}

em {
  font-style: italic;
  letter-spacing: -0.5px;
}

blockquote {
  margin-bottom: 16px;
  padding: 10px 20px;
  border-left: 5px solid rgba(255, 1, 1, 0.15);
  color: #33383f;
  font-size: 18px;
  line-height: 1.4em;
}

figcaption {
  margin-top: 12px;
  text-align: center;
}

.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 90vh;
}

.page-wrapper.light-grey {
  background-color: #f5f6f7;
}

.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section.light-grey {
  position: relative;
  background-color: #f5f6f7;
}

.section.small {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.light-color-gradient {
  position: relative;
  background-color: #f5f6f7;
  background-image: linear-gradient(
      54deg,
      rgba(255, 131, 122, 0.25),
      rgba(255, 131, 122, 0) 28%
    ),
    linear-gradient(
      241deg,
      rgba(239, 152, 207, 0.25),
      rgba(239, 152, 207, 0) 36%
    );
}

.section.daek-page-header {
  padding-top: 96px;
  padding-bottom: 32px;
  background-color: #1d1d1d;
  background-image: radial-gradient(
      circle farthest-corner at 0% 50%,
      rgba(255, 1, 1, 0.15),
      transparent 47%
    ),
    radial-gradient(
      circle farthest-corner at 30% 150%,
      rgba(122, 167, 255, 0.32),
      transparent 58%
    );
  color: #fff;
}

.section.black-gradient {
  background-color: #1d1d1d;
  background-image: radial-gradient(
      circle farthest-corner at 0% 50%,
      rgba(255, 1, 1, 0.15),
      transparent 47%
    ),
    radial-gradient(
      circle farthest-corner at 40% 130%,
      rgba(122, 167, 255, 0.41),
      transparent 58%
    );
  color: #fff;
}

.section.light-page-header {
  padding-top: 96px;
  padding-bottom: 32px;
  background-color: #f5f6f7;
  background-image: radial-gradient(
      circle farthest-corner at 0% 50%,
      rgba(255, 1, 1, 0.13),
      transparent 41%
    ),
    radial-gradient(
      circle farthest-corner at 30% 150%,
      rgba(122, 167, 255, 0.24),
      transparent 54%
    );
}

.button {
  margin-bottom: 8px;
  padding: 8px 28px;
  flex: 0 0 auto;
  border-radius: 9px;
  background-color: #1d1d1d;
  box-shadow: 0 2px 0 0 rgba(32, 32, 32, 0.05);
  transition: box-shadow 200ms ease, transform 200ms ease,
    border-color 200ms ease, color 200ms ease, background-color 200ms ease;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.button:hover {
  background-color: #33383f;
}

.button:active {
  background-color: #626a72;
  box-shadow: 0 0 0 0 rgba(32, 32, 32, 0);
  transform: translate(0px, 2px);
}

.button.no-margin {
  margin-right: 0px;
  margin-left: 0px;
}

.button.outline {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #495158;
  color: #1d1d1d;
}

.button.outline:hover {
  background-color: #e7ecf0;
}

.button.outline:active {
  background-color: #495158;
  color: #fff;
}

.button.light {
  background-color: #f5f6f7;
  box-shadow: none;
  color: #626a72;
}

.button.light:hover {
  background-color: #e7ecf0;
  color: #626a72;
}

.button.light:active {
  background-color: #cbd5df;
  color: #33383f;
}

.button.light.mobile-hidden {
  background-color: #e7ecf0;
  box-shadow: inset 0 0 0 1px #e7ecf0;
  font-family: Inconsolata, monospace;
  color: #1d1d1d;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.button.disabled {
  background-color: #f5f6f7;
  box-shadow: none;
  opacity: 0.7;
  color: #cbd5df;
}

.button.disabled:active {
  transform: none;
}

.button.subscribe {
  margin-bottom: 0px;
  margin-left: -24px;
  padding-right: 22px;
  padding-left: 22px;
}

.button.dark {
  background-color: #495158;
}

.button.dark:hover {
  background-color: #33383f;
}

.button.dark:active {
  background-color: #99a4af;
}

.button.white {
  background-color: #fff;
  color: #1d1d1d;
  font-weight: 500;
}

.button.white:hover {
  background-color: #e7ecf0;
}

.button.white:active {
  background-color: #cbd5df;
}

.spacer {
  height: 48px;
  background-color: #e7ecf0;
}

.spacer._64 {
  width: 64px;
  height: 64px;
  background-color: transparent;
}

.spacer._32 {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: transparent;
}

.spacer._24 {
  width: 24px;
  height: 24px;
  background-color: transparent;
  text-transform: uppercase;
}

.spacer._48 {
  width: 48px;
  border-radius: 6px;
  background-color: transparent;
}

.spacer._128 {
  width: 128px;
  height: 128px;
  background-color: transparent;
}

.spacer._80 {
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.spacer._96 {
  width: 96px;
  height: 96px;
  background-color: transparent;
}

.spacer._96 {
  height: 96px;
  background-color: rgba(94, 178, 244, 0);
}

.spacer._32 {
  height: 32px;
  background-color: transparent;
}

.spacer._16 {
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  background-color: transparent;
}

.text-box {
  position: relative;
  max-width: 650px;
}

.text-box.center-align {
  margin-right: auto;
  margin-left: auto;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.text-box._550px {
  max-width: 550px;
}

.text-box._500px {
  max-width: 500px;
}

.text-box.centered {
  margin-right: auto;
  margin-left: -6px;
  padding-right: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #33383f;
  border-radius: 20px;
}

._12-columns {
  display: flex;
  margin-right: -16px;
  margin-left: -16px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
}

._12-columns.flex-horizontal {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

._12-columns.align-top {
  align-items: flex-start;
}

._12-columns.align-left {
  justify-content: flex-start;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1230px;
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: center;
}

.color-block {
  width: 100%;
  height: 60px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: #1d1d1d;
}

.color-block.grey {
  background-color: #626a72;
}

.color-block.light-grey {
  background-color: #99a4af;
}

.color-block.dark-grey {
  background-color: #33383f;
}

.color-block.back-grey {
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  background-color: #f5f6f7;
}

.color-block.soft-grey {
  background-color: #cbd5df;
}

.color-block.silver {
  background-color: #e7ecf0;
}

.color-block.white {
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  background-color: #fff;
}

.color-block.soft-red {
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  background-color: rgba(255, 1, 1, 0.15);
}

.color-block.soft-blue {
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  background-color: rgba(122, 167, 255, 0.32);
}

.color-block.soft-pink {
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  background-color: rgba(239, 152, 207, 0.25);
}

.white {
  color: #fff;
  font-weight: 300;
}

.column-styleguide {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #e7ecf0;
}

.column {
  position: relative;
  display: flex;
  min-height: 32px;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  flex: 0 auto;
}

.column.desk-10 {
  width: 83.33%;
}

.column.desk-12 {
  width: 100%;
}

.column.desk-11 {
  width: 91.66%;
}

.column.desk-6 {
  width: 50%;
}

.column.desk-5 {
  width: 41.66%;
}

.column.desk-1 {
  width: 8.33%;
  flex: 0 auto;
}

.column.desk-4 {
  width: 33.33%;
}

.column.desk-9 {
  width: 75%;
}

.column.desk-3 {
  width: 25%;
  flex: 0 0 auto;
}

.column.desk-2 {
  width: 16.66%;
}

.column.desk-7 {
  width: 58.333333333333336%;
}

.column.desk-8 {
  width: 66.66666666666667%;
}

.ds-block {
  margin-bottom: 32px;
  font-size: 18px;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  margin-bottom: 36px;
  background-color: #e7ecf0;
}

.horizontal-line.design-system {
  position: relative;
  bottom: -80px;
}

.rich-text {
  position: static;
  font-family: Inconsolata, monospace;
  text-align: left;
}

.rich-text img {
  border-radius: 5px;
}

.rich-text h4 {
  margin-top: 24px;
}

.rich-text h3 {
  margin-top: 24px;
  font-family: Inconsolata, monospace;
}

.nav-content {
  position: relative;
  display: flex;
  margin-left: 24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.nav-cta-button-container {
  display: flex;
  align-items: center;
}

.menu-button.w--open {
  background-color: #fff;
  color: rgba(9, 106, 208, 0.2);
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 200;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f5f6f7;
  background-color: #fff;
}

.logo-div {
  display: block;
  justify-content: space-between;
  align-items: center;
  flex: 0 auto;
}

.nav-logo {
  transition: opacity 200ms ease;
}

.nav-logo:hover {
  opacity: 0.75;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-link {
  display: block;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  transition: color 200ms ease-in-out;
  color: #626a72;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  opacity: 1;
  color: #1d1d1d;
}

.footer-link.w--current {
  opacity: 1;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  z-index: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #f5f6f7;
}

.icon {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 24px;
}

.icon.large {
  width: 128px;
  height: 128px;
}

.search-banner {
  display: flex;
  margin-right: auto;
  padding-right: 4px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
}

.nav-dropdown {
  position: relative;
  margin-right: 2px;
  margin-left: 6px;
  padding: 5px 22px 5px 8px;
  border-radius: 5px;
  transition: color 200ms ease;
  color: #33383f;
  line-height: 26px;
  font-weight: 500;
}

.nav-dropdown:hover {
  opacity: 1;
  color: #1b9cca;
}

.nav-dropdown.w--current {
  transition-property: none;
  color: #096ad0;
  font-weight: 700;
}

.paragraph {
  font-family: Inconsolata, monospace;
}

.paragraph.small {
  margin-bottom: 6px;
  opacity: 0.75;
  font-family: Inconsolata, monospace;
  font-size: 14px;
  line-height: 1.4em;
}

.paragraph.large {
  display: block;
  font-family: Inter, sans-serif;
  color: #626a72;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 400;
}

.paragraph.medium {
  font-size: 18px;
}

.paragraph.small {
  opacity: 0.75;
  font-size: 14px;
  line-height: 1.4em;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inconsolata, monospace;
}

.nav-menu {
  margin-right: 6px;
  text-align: right;
}

.ds-menu-brand {
  width: 160px;
  margin-bottom: 50px;
  margin-left: 30px;
}

.ds-menu {
  width: 100%;
}

.ds-menu-link {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;
  border-left: 4px solid transparent;
  color: #e7ecf0;
}

.ds-menu-link:hover {
  color: #cbd5df;
}

.ds-menu-link.w--current {
  padding-right: 0px;
  background-color: #33383f;
  color: #fff;
  font-weight: 500;
}

.ds-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  overflow: auto;
  width: 240px;
  padding-top: 40px;
  background-color: #1d1d1d;
  background-image: radial-gradient(
    circle farthest-corner at 0% 100%,
    rgba(255, 1, 1, 0.15),
    transparent 43%
  );
}

.form-radio-button {
  margin-bottom: 16px;
  padding-left: 24px;
}

.radio-button {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: -24px;
}

.radio-button.w--redirected-checked {
  border-width: 6px;
  border-color: #197dff;
}

.form-error {
  padding: 16px;
  border-radius: 6px;
  background-color: #e7ecf0;
  color: #1d1d1d;
  font-size: 14px;
  line-height: 18px;
}

.form {
  margin-bottom: 0px;
}

.checkbox-field {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  padding-left: 24px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}

.check-box {
  width: 14px;
  height: 14px;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: -24px;
}

.check-box.w--redirected-checked {
  border-color: #197dff;
  background-color: #197dff;
  background-position: 50% 50%;
  background-size: 16px;
}

.ds-content {
  position: relative;
  display: flex;
  max-width: 100%;
  margin-left: 240px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-success {
  width: 100%;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: #e7ecf0;
  color: #33383f;
  font-size: 16px;
  line-height: 1.4em;
}

.form-success.dark {
  background-color: #495158;
  color: #fff;
}

.ds-section {
  position: relative;
  z-index: 0;
  padding: 60px 80px 48px 60px;
  text-align: left;
}

.ds-section.header {
  background-color: #f5f6f7;
  color: #1d1d1d;
}

.ds-title {
  margin-bottom: 8px;
  color: #33383f;
}

.ds-section-header {
  margin-bottom: 50px;
}

.text-field {
  height: 44px;
  min-width: 120px;
  margin-bottom: 16px;
  padding: 19px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  border-radius: 9px;
  background-color: #f5f6f7;
  transition: border-color 200ms ease;
  font-size: 15px;
  line-height: 1.4em;
}

.text-field:focus {
  border-color: #33383f;
}

.text-field::-moz-placeholder {
  color: #cbd5df;
}

.text-field::-ms-input-placeholder {
  color: #cbd5df;
}

.text-field::placeholder {
  color: #cbd5df;
}

.text-field.no-margin {
  margin-bottom: 0px;
  font-family: Exo, sans-serif;
}

.ebook-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-radius: 4px;
  transition: transform 200ms ease, opacity 200ms ease;
  color: #1d1d1d;
  text-align: left;
}

.ebook-box:hover {
  transform: translate(0px, -3px);
}

.ebook-thumbnail {
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 8px;
}

.text-area {
  min-height: 120px;
  margin-bottom: 16px;
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  border-radius: 6px;
  background-color: #f5f6f7;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01);
  font-size: 15px;
}

.text-area::-moz-placeholder {
  color: #cbd5df;
}

.text-area::-ms-input-placeholder {
  color: #cbd5df;
}

.text-area::placeholder {
  color: #cbd5df;
}

.tabs-menu {
  display: flex;
  width: 100%;
  margin-bottom: 48px;
  justify-content: center;
}

.vertical-tab {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.tab-link {
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px 20px;
  flex: 0 auto;
  border-bottom: 2px solid #e7ecf0;
  background-color: transparent;
  opacity: 0.5;
  color: #626a72;
  font-size: 18px;
  text-align: center;
}

.tab-link:hover {
  border-bottom-color: #cbd5df;
  color: #626a72;
}

.tab-link.w--current {
  border-bottom-color: #197dff;
  background-color: transparent;
  opacity: 1;
  color: #197dff;
  font-weight: 600;
}

.ds-description {
  max-width: 400px;
  color: #626a72;
}

.small-button {
  margin-bottom: 16px;
  padding: 5px 16px;
  flex: 0 0 auto;
  border-radius: 8px;
  background-color: #1d1d1d;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  transition: transform 200ms ease, border-color 200ms ease, color 200ms ease,
    box-shadow 200ms ease, background-color 200ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
}

.small-button:hover {
  background-color: #33383f;
  color: #fff;
}

.small-button:active {
  background-color: #495158;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.06);
  transform: translate(0px, 1px);
}

.small-button.light {
  margin-right: 0px;
  background-color: #f5f6f7;
  box-shadow: none;
  color: #626a72;
}

.small-button.light:hover {
  background-color: #e7ecf0;
}

.small-button.light:active {
  background-color: #cbd5df;
  color: #33383f;
}

.small-button.dark {
  margin-right: 0px;
  background-color: #495158;
  box-shadow: none;
}

.small-button.dark:hover {
  background-color: #33383f;
}

.small-button.dark:active {
  background-color: #1d1d1d;
}

.nav-container {
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  width: 100%;
  height: 70px;
  max-width: 1230px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0px 33px 0px 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  border-radius: 0px;
}

.error-2 {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-link {
  margin-right: 4px;
  margin-left: 4px;
  padding: 6px 8px;
  background-color: transparent;
  transition: background-color 200ms ease, transform 200ms ease,
    color 200ms ease;
  font-family: Inconsolata, monospace;
  color: #626a72;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.nav-link:hover {
  color: #1d1d1d;
}

.nav-link:active {
  color: #626a72;
}

.nav-link.w--current {
  color: #1d1d1d;
}

.nav-link.cta-button {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 8px;
  background-color: #1d1d1d;
  box-shadow: 0 2px 0 0 #f5f6f7;
  transition: box-shadow 200ms ease, background-color 200ms ease,
    transform 200ms ease, color 200ms ease;
  color: #fff;
}

.nav-link.cta-button:hover {
  background-color: #33383f;
}

.nav-link.cta-button:active {
  background-color: #626a72;
  box-shadow: 0 0 0 0 #e7ecf0;
  transform: translate(0px, 1px);
}

.form-dropdown {
  position: relative;
  width: 100%;
  height: 44px;
  margin-bottom: 16px;
  padding: 8px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  border-radius: 6px;
  background-color: #f5f6f7;
  color: #99a4af;
  font-size: 15px;
}

.form-dropdown:focus {
  color: #37474e;
}

.form-dropdown::-moz-placeholder {
  color: #999;
  font-size: 15px;
}

.form-dropdown::-ms-input-placeholder {
  color: #999;
  font-size: 15px;
}

.form-dropdown::placeholder {
  color: #999;
  font-size: 15px;
}

.field-block {
  z-index: 1;
  display: flex;
  min-height: 20px;
  min-width: 50px;
  margin-bottom: 8px;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  border: 1px solid transparent;
}

.error {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-header {
  color: #99a4af;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.footer-container {
  display: block;
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 50px;
  flex-direction: column;
  justify-content: center;
}

.ds-colour-block {
  display: inline-block;
  width: 12.5%;
  padding-right: 16px;
}

.ds-colour-grid {
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
}

.ds-module {
  position: relative;
  display: flex;
  min-height: 100px;
  min-width: 100px;
  flex-direction: column;
  border-radius: 2px;
  background-color: #e7ecf0;
}

._1-2-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-1-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading {
  display: block;
  font-weight: 600;
}

.heading.h1 {
  width: 650px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  font-family: Inconsolata, monospace;
  font-size: 70px;
  line-height: 1.25em;
}

.heading.h1.small-margin {
  margin-bottom: 6px;
}

.heading.h2 {
  margin-bottom: 16px;
  font-family: Inconsolata, monospace;
  font-size: 36px;
  line-height: 1.3em;
  font-weight: 400;
}

.heading.h3 {
  display: flex;
  overflow: visible;
  margin-top: -1px;
  margin-bottom: 1px;
  flex-wrap: nowrap;
  align-self: auto;
  font-family: Varela, sans-serif;
  font-size: 26px;
  line-height: 1.4em;
  -o-object-fit: contain;
  object-fit: contain;
}

.heading.h3.no-margin {
  margin-bottom: 0px;
}

.heading.h4 {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 1.45em;
}

.heading.h5 {
  margin-bottom: 12px;
  color: #33383f;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading.h6 {
  color: #626a72;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
}

.heading.large-h1 {
  margin-bottom: 18px;
  font-size: 54px;
  line-height: 1.2em;
}

.heading.large-h1 {
  margin-bottom: 18px;
  font-size: 52px;
  line-height: 1.25em;
}

.heading.large-h1 {
  margin-bottom: 18px;
  font-size: 64px;
  line-height: 1.15em;
}

.heading.large-h1 {
  margin-bottom: 16px;
  font-size: 46px;
}

.heading.large-h1 {
  font-size: 64px;
}

.error-3 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  flex-direction: column;
  justify-content: center;
}

.licenses-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 96px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.utility-page-wrap {
  display: flex;
  width: 100vw;
  height: 90vh;
  max-height: 100%;
  max-width: 100%;
  min-height: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  background-image: radial-gradient(
      circle farthest-corner at 50% 0%,
      rgba(239, 152, 207, 0.2),
      transparent 57%
    ),
    radial-gradient(
      circle farthest-corner at 0% 20%,
      rgba(122, 167, 255, 0.25),
      transparent 42%
    );
  color: #fff;
}

.utility-page-wrap.center-align {
  background-image: radial-gradient(
      circle farthest-corner at 50% -20%,
      rgba(239, 152, 207, 0.2),
      transparent 61%
    ),
    radial-gradient(
      circle farthest-corner at 0% 20%,
      rgba(122, 167, 255, 0.32),
      transparent 42%
    );
  text-align: center;
}

.utility-page-content {
  display: flex;
  width: 380px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  align-items: stretch;
}

.visible-spacer {
  display: inline-block;
  margin-bottom: 24px;
  border-radius: 2px;
  background-color: #e7ecf0;
}

.email-form {
  display: flex;
  max-width: 450px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.email-form.center-align {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-top {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: flex-start;
}

._3-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._4-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.email-subscribe {
  position: relative;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 12px;
}

.search {
  margin-bottom: 0px;
  align-items: flex-start;
}

.terms-card {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin-top: -180px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 64px 48px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.06);
}

.popular-posts-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 64px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-2 {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: 1280px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.search-bar {
  width: 280px;
  height: 36px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #f5f6f7;
  border-radius: 6px;
  background-color: #f5f6f7;
  background-image: url('../images/MagnifyingGlass-Grey.svg');
  background-position: 8px 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  transition: border-color 200ms ease;
  font-family: Inconsolata, monospace;
  color: #1d1d1d;
  font-size: 15px;
  font-weight: 400;
}

.search-bar:hover {
  border-color: #cbd5df;
}

.search-bar:focus {
  border-color: #cbd5df;
}

.search-bar::-moz-placeholder {
  color: #99a4af;
}

.search-bar::-ms-input-placeholder {
  color: #99a4af;
}

.search-bar::placeholder {
  color: #99a4af;
}

.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-text-link {
  overflow: hidden;
  width: 100%;
  max-width: 450px;
  flex-direction: column;
  border-radius: 4px;
  transition: transform 200ms ease, opacity 200ms ease;
  color: #1d1d1d;
  text-align: left;
}

.card-text-link:hover {
  color: #33383f;
}

.image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.form-card {
  padding: 40px;
  border-radius: 12px;
  background-color: #fff;
  color: #1d1d1d;
  text-align: left;
}

.title-tag {
  margin-bottom: 12px;
  color: #99a4af;
  font-weight: 500;
}

.cta-banner {
  position: relative;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 1px solid #e7ecf0;
  border-bottom: 1px solid #e7ecf0;
  text-align: left;
}

.error-4 {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1230px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  flex-direction: column;
  justify-content: center;
}

.grey-text-link {
  border-bottom: 1px solid #cbd5df;
  color: #626a72;
}

.grey-text-link:hover {
  border-bottom-color: #99a4af;
  color: #33383f;
}

.banner-section {
  position: relative;
  z-index: 200;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #fff;
  background-image: radial-gradient(
      circle farthest-corner at 25% -20%,
      rgba(122, 167, 255, 0.15),
      hsla(0, 0%, 100%, 0) 52%
    ),
    radial-gradient(
      circle farthest-corner at 100% 0%,
      rgba(255, 1, 1, 0.08),
      hsla(0, 0%, 100%, 0) 25%
    );
}

.banner-container {
  display: block;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
}

.banner {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 500;
  text-align: center;
}

.banner-link {
  display: inline;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #99a4af;
  line-height: 1.3em;
  text-decoration: none;
}

.banner-link:hover {
  color: #1d1d1d;
}

.logo {
  margin-top: 2px;
  margin-bottom: -1px;
  padding-top: 4px;
  padding-bottom: 0px;
}

.hero-grid {
  align-items: center;
  grid-template-areas: '. Area';
  -ms-grid-columns: 1.4fr 1fr;
  grid-template-columns: 1.4fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hero-illustration {
  margin-right: 86px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  mix-blend-mode: multiply;
}

.large-3-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 48px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-grid {
  -ms-grid-columns: 3fr 1fr 1fr 0.8fr;
  grid-template-columns: 3fr 1fr 1fr 0.8fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-logo-block {
  position: relative;
  display: flex;
  max-width: 650px;
  flex-direction: column;
  align-items: flex-start;
}

.ebook-header-block {
  position: relative;
  height: 50px;
  max-width: 650px;
}

.ebook-page-grid {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 400px;
  grid-template-columns: 1fr 400px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ebook-cover {
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.ebook-mobile-block {
  position: relative;
  display: none;
  height: 50px;
  max-width: 650px;
}

.full-page-wrapper {
  width: 100%;
  max-width: none;
  padding: 24px 12px;
  align-items: center;
  background-color: #1d1d1d;
  background-image: radial-gradient(
      circle farthest-corner at 100% 100%,
      rgba(122, 167, 255, 0.32),
      transparent 44%
    ),
    radial-gradient(
      circle farthest-corner at 0% 100%,
      rgba(255, 1, 1, 0.15),
      transparent 32%
    );
  color: #fff;
}

.form-page-logo {
  width: 190px;
}

.form-card-header {
  margin-bottom: 32px;
  text-align: center;
}

.admin-form-card {
  width: 100%;
  max-width: 380px;
  padding: 40px;
  border-radius: 12px;
  background-color: #fff;
  color: #1d1d1d;
}

.admin-form-card.center-align {
  text-align: center;
}

.form-card-footer {
  justify-content: center;
  flex-wrap: wrap;
  grid-column-gap: 8px;
  font-size: 14px;
}

.below-card-link {
  display: inline-block;
  margin-top: 24px;
  color: #99a4af;
  font-size: 14px;
}

.below-card-link:hover {
  color: #cbd5df;
}

.checkbox-label {
  display: inline-block;
  flex: 1;
  font-size: 14px;
}

.white-text-link {
  border-bottom: 1px solid #626a72;
  transition: border-color 200ms ease, color 200ms ease;
  color: #fff;
}

.white-text-link:hover {
  border-bottom-color: #cbd5df;
  color: #cbd5df;
}

.field-label {
  margin-bottom: 8px;
  color: #202020;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 500;
}

.field-label.no-margin {
  margin-bottom: 0px;
}

.account-header {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none none solid;
  border-bottom-color: #e7ecf0;
}

.account-info-wrapper {
  margin-top: 24px;
}

.account-card {
  width: 100%;
  max-width: 380px;
  padding: 24px 32px;
  border-radius: 12px;
  background-color: #fff;
  color: #1d1d1d;
}

.account-page-wrapper {
  display: flex;
  width: 100vw;
  height: 90vh;
  max-height: 100%;
  max-width: 100%;
  min-height: 650px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #e7ecf0;
  background-image: radial-gradient(
      circle farthest-corner at 50% 0%,
      rgba(239, 152, 207, 0.2),
      transparent 57%
    ),
    radial-gradient(
      circle farthest-corner at 0% 20%,
      rgba(122, 167, 255, 0.25),
      transparent 42%
    );
  color: #fff;
}

.form-2-grid {
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.verification-box {
  text-align: center;
}

.form-page-logo-link {
  margin-bottom: 32px;
  transition: opacity 200ms ease, color 200ms ease;
}

.form-page-logo-link:hover {
  opacity: 0.9;
}

.text-span {
  display: flex;
  width: 230px;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Inconsolata, monospace;
}

.text-span-2 {
  border: 1px solid transparent;
  color: #ee1014;
}

.text-span-3 {
  margin-top: 0px;
  margin-right: 47px;
  margin-left: 24px;
  padding-top: 0px;
  padding-right: 3px;
  padding-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  direction: ltr;
  font-family: Inconsolata, monospace;
  font-style: normal;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
  white-space: nowrap;
  mix-blend-mode: normal;
}

.image {
  position: relative;
  width: 270px;
  margin: 22px 17px 39px -22px;
  padding: 0px 0px 0px 55px;
}

.paragraph-2 {
  display: block;
  width: 400px;
  margin-top: 24px;
  margin-bottom: -30px;
  margin-left: 53px;
  padding: 0px;
  float: none;
  clear: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: Inconsolata, monospace;
  font-size: 28px;
  text-align: left;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-2 {
  position: static;
  margin-top: -274px;
  margin-right: 306px;
  margin-bottom: -63px;
  padding: 0px 0px 0px 63px;
  float: right;
  clear: none;
  text-align: right;
  mix-blend-mode: normal;
}

.image-3 {
  margin-top: -8px;
}

.image-4 {
  display: block;
  max-width: 30%;
  margin-left: 655px;
  padding-top: 40px;
  font-size: 16px;
}

.image-5 {
  max-width: 55%;
  margin-top: -33px;
  margin-bottom: 0px;
  margin-left: 555px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.image-6 {
  display: inline-block;
  max-width: 70%;
  margin-top: -485px;
  margin-bottom: 0px;
  margin-left: -36px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.image-7 {
  max-width: 40%;
  margin-top: -105px;
  margin-bottom: -111px;
  margin-left: 132px;
}

.image-8 {
  max-width: 50%;
  margin-top: -68px;
  margin-left: 597px;
}

.link-block {
  margin-top: 4px;
  font-size: 15px;
}

@media screen and (min-width: 1280px) {
  .button.no-margin {
    background-color: #1d1d1d;
    color: #fff;
  }

  .paragraph.small {
    color: #495158;
  }

  .paragraph.medium {
    font-family: Montserrat, sans-serif;
  }

  .heading.h3 {
    display: flex;
    margin-top: -9px;
    padding-right: 52px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .banner-container {
    max-width: 1140px;
  }

  .full-page-wrapper {
    padding-top: 9px;
  }

  .form-page-logo {
    width: 160px;
    padding-top: 0px;
    padding-right: 22px;
    padding-left: 0px;
  }

  .admin-form-card {
    padding-top: 23px;
  }

  .text-span-3 {
    font-family: Merriweather, serif;
    color: #626a72;
    font-weight: 600;
    text-transform: none;
    white-space: normal;
  }
}

@media screen and (max-width: 991px) {
  .button {
    position: relative;
  }

  ._12-columns {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .column {
    width: 50%;
  }

  .column.desk-3 {
    width: 33.33%;
    flex-wrap: nowrap;
  }

  .ds-block {
    margin-bottom: 40px;
  }

  .menu-icon {
    color: #096ad0;
  }

  .nav-content {
    margin-left: 16px;
    justify-content: flex-end;
  }

  .menu-button.w--open {
    background-color: transparent;
    color: #096ad0;
  }

  .logo-div {
    flex: 0 auto;
  }

  .nav-logo {
    flex: 1;
  }

  .footer-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-banner {
    display: none;
  }

  .nav-dropdown {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 8px;
    padding-left: 8px;
    flex: 1;
    font-size: 15px;
    text-align: center;
  }

  .ds-menu-brand {
    top: 5px;
    margin-bottom: 0px;
  }

  .ds-menu {
    position: absolute;
    left: 0%;
    top: 80px;
    right: auto;
    bottom: auto;
    z-index: 500;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7ecf0;
    background-color: #197dff;
  }

  .ds-nav {
    position: -webkit-sticky;
    position: sticky;
    left: auto;
    bottom: auto;
    z-index: 10;
    overflow: visible;
    width: 100%;
    padding-top: 20px;
  }

  .ds-content {
    position: static;
    margin-left: 0px;
  }

  .ds-section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .small-button {
    position: relative;
  }

  .nav-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .nav-link {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 15px;
  }

  .nav-link.cta-button {
    padding-right: 16px;
    padding-left: 16px;
  }

  .footer-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  ._1-2-grid {
    margin-left: 0px;
  }

  ._2-1-grid {
    margin-left: 0px;
  }

  .heading.h1 {
    font-size: 40px;
  }

  .error-3 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .licenses-grid {
    margin-left: 0px;
    grid-column-gap: 40px;
  }

  .ds-body {
    display: flex;
    flex-direction: column;
  }

  .ds-menu-button {
    top: -10px;
    margin-right: 12px;
    color: #fff;
  }

  .ds-menu-button.w--open {
    border-radius: 40px;
    background-color: #197dff;
  }

  ._3-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  ._4-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .terms-card {
    padding-top: 64px;
  }

  .popular-posts-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .search-bar {
    width: 220px;
    font-size: 14px;
  }

  .error-4 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .banner-section {
    padding-right: 60px;
    padding-left: 60px;
  }

  .banner-container {
    text-align: center;
  }

  .large-3-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .footer-grid {
    -ms-grid-columns: 2fr 1fr 1fr 0.8fr;
    grid-template-columns: 2fr 1fr 1fr 0.8fr;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.daek-page-header {
    padding-top: 80px;
    padding-bottom: 16px;
  }

  .section.light-page-header {
    padding-top: 80px;
    padding-bottom: 16px;
  }

  .button.light.mobile-hidden {
    display: none;
  }

  .spacer {
    height: 32px;
  }

  .spacer._64 {
    height: 48px;
  }

  .spacer._80 {
    width: 64px;
    height: 64px;
  }

  ._12-columns {
    flex-wrap: wrap;
  }

  ._12-columns.flex-horizontal {
    margin-bottom: 0px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .column.desk-6 {
    width: 100%;
  }

  .column.desk-5 {
    width: 100%;
  }

  .column.desk-4 {
    width: 100%;
  }

  .column.desk-9 {
    width: 100%;
  }

  .column.desk-7 {
    width: 100%;
  }

  .column.desk-8 {
    width: 100%;
  }

  .nav-content {
    position: absolute;
    overflow: auto;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid #e7ecf0;
    background-color: #fff;
  }

  .nav-cta-button-container {
    margin-top: 10px;
    flex-direction: column;
    align-items: stretch;
  }

  .menu-button {
    width: 56px;
    height: 56px;
    margin-right: -12px;
    padding: 16px;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    border: 1px none #000;
  }

  .logo-div {
    margin-right: auto;
  }

  .footer-logo {
    padding-left: 0px;
  }

  .footer-links-container {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-dropdown {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 16px;
  }

  .nav-dropdown:hover {
    transform: none;
  }

  .paragraph {
    font-size: 15px;
  }

  .nav-menu {
    margin-right: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .ds-menu-brand.w--current {
    margin-top: 14px;
  }

  .ds-content {
    margin-left: 0px;
  }

  .ds-section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .tabs-menu {
    flex-wrap: wrap;
  }

  .tab-link {
    width: auto;
  }

  .nav-container {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav-link {
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: center;
  }

  .nav-link:hover {
    transform: none;
  }

  .field-block {
    min-height: auto;
  }

  .footer-container {
    flex-direction: column;
  }

  .ds-colour-block {
    width: 25%;
  }

  ._1-2-grid {
    margin-left: 0px;
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }

  ._2-1-grid {
    margin-left: 0px;
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }

  .heading.h1 {
    font-size: 35px;
  }

  .heading.h2 {
    margin-bottom: 16px;
    font-size: 28px;
  }

  .heading.h4 {
    font-size: 20px;
  }

  .heading.large-h1 {
    font-size: 35px;
  }

  .heading.large-h1 {
    font-size: 35px;
  }

  .heading.large-h1 {
    font-size: 35px;
  }

  .heading.large-h1 {
    font-size: 48px;
  }

  .licenses-grid {
    margin-left: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-top {
    text-align: center;
  }

  ._3-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .terms-card {
    padding-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
  }

  .popular-posts-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .search-bar {
    width: 100%;
  }

  .cta-banner {
    padding: 40px;
    flex-direction: column;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    text-align: center;
  }

  .banner-section {
    padding-right: 30px;
    padding-left: 30px;
    justify-content: flex-start;
    text-align: left;
  }

  .banner-container {
    text-align: left;
  }

  .banner {
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
  }

  .hero-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-illustration {
    width: 120px;
    margin-left: 0px;
  }

  .large-3-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-grid {
    -ms-grid-columns: 1fr 0.8fr;
    grid-template-columns: 1fr 0.8fr;
  }

  .footer-logo-block {
    margin-bottom: 40px;
  }

  .ebook-header-block {
    display: none;
    height: auto;
  }

  .ebook-page-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .ebook-mobile-block {
    display: block;
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  .button {
    width: 100%;
    font-size: 16px;
    line-height: 1.8em;
  }

  .button.subscribe {
    margin-left: 0px;
  }

  ._12-columns.flex-horizontal {
    flex-direction: row;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .color-block {
    margin-bottom: 20px;
  }

  .column {
    margin-bottom: 0px;
  }

  .column.desk-6 {
    width: 100%;
  }

  .column.desk-5 {
    width: 100%;
  }

  .column.desk-3 {
    width: 100%;
  }

  .menu-button {
    flex: 0 auto;
  }

  .search-banner {
    justify-content: space-between;
  }

  .paragraph.medium {
    font-size: 16px;
  }

  .ds-menu-brand {
    margin-left: 16px;
  }

  .ds-section {
    padding-right: 16px;
    padding-left: 16px;
  }

  .text-field {
    width: 100%;
  }

  .text-area {
    width: 100%;
  }

  .nav-container {
    height: 64px;
    padding: 2px 20px;
  }

  .footer-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading.large-h1 {
    font-size: 42px;
  }

  .error-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .ds-menu-button {
    margin-right: 6px;
  }

  .email-form {
    width: 100%;
    flex-direction: column;
  }

  ._4-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .email-subscribe {
    width: 100%;
    flex-direction: column;
    grid-row-gap: 12px;
  }

  .search {
    flex-direction: column;
  }

  .terms-card {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .container-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .search-bar {
    width: 100%;
  }

  .form-card {
    padding: 24px;
  }

  .title-tag {
    margin-bottom: 6px;
  }

  .cta-banner {
    padding: 32px;
  }

  .error-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .banner-section {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .banner {
    justify-content: space-between;
    text-align: left;
  }

  .banner-link {
    width: 100%;
    flex: 0 auto;
  }

  .form-page-logo {
    width: 160px;
  }

  .admin-form-card {
    padding: 28px;
  }

  .account-card {
    padding: 28px;
  }

  .form-2-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-page-logo-link {
    margin-bottom: 24px;
  }
}

#w-node-accfd924-78f6-ecf1-4abb-37edf78b5e65-a01abdb9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_2c511369-eabb-a0ff-6024-6e8ecffbdf82-a01abdb9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b49c48ad-b3b4-f319-67e3-9d04be5835dc-7d1abde9 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_62b23e3845c1a6d0f6be4e4900000000001b-4a1abe0b {
  margin-top: 20px;
  margin-bottom: 20px;
}

#w-node-_62b23e3845c1a6d0f6be4e49000000000020-4a1abe0b {
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-color: #e6e6e6;
  border-bottom-width: 1px;
  border-left-color: #e6e6e6;
  border-left-width: 1px;
  border-right-color: #e6e6e6;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-top-color: #e6e6e6;
  border-top-width: 1px;
  border-left-style: solid;
}

#w-node-_62b23e3845c1a6d0f6be4e49000000000021-4a1abe0b {
  margin-top: 10px;
}

#w-node-_62b23e3845c1a6d0f6be4e49000000000024-4a1abe0b {
  position: initial;
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  #w-node-_2c511369-eabb-a0ff-6024-6e8ecffbdf82-a01abdb9 {
    order: -9999;
  }

  #w-node-b8d7be4a-ce45-83ab-5947-02d204c8bff0-cf3fcb86 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}
